/*@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&display=swap');*/

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: lightgray;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color:#569095;
    color:white;
}
header{
    background-color:#50546C;
    display: grid;
    grid-template-columns: 150px auto;
}
#hero-msg h1{
    text-align: left;
    color: white;
    font-size: 2.5em;  
    text-shadow: #50546C 2px 5px;
}
#hero-msg h2{
    text-align: left;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.5em; 
    margin-right: 100px;  
    line-height: 0px;
    text-shadow: #50546C 2px 5px;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 220px;
    margin-right: 100px;
}
.home-title{
    text-align: center;
    color:#264653;
    font-family:'Helvetica', sans-serif;   
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
/* #background {
    height: 725px;
    background-color:#FF6F00;
    grid-column: 1/11;
    grid-row: 4/9;
} */
body {
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 22px;
}

h2{
    margin: 0;
}
.welcoming-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center
}

.welcoming-txt{
    box-sizing: border-box;
    margin: 40px;
}

.welcoming-img{
    border: 10px solid #FF6F00;
    box-sizing: border-box;
    margin: 40px;
}
.welcoming h2{
    color:#50546C;
    text-align: center; 
}
.welcoming h4{
    color:#569095;
    text-align: justify;
    font-family: Verdana; 
}

.cards-grid{
    margin-top: 70px;
    display: grid;
    column-gap: 120px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center
}

.page2-card{
    box-sizing: border-box;
} 
.page3-card{
    box-sizing: border-box;
}
.page2-card h2, .page3-card h2{
    text-align: center;
    color:#50546C;
}
.page2-img, .page3-img{
    width: 400px;
    border: 10px solid #569095;
    
}
.button-2, .button-3{
    background-color:#569095;
    width: 120px;
    padding: 15px 30px;
    margin-left: 120px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #6f7364;
}

.page2, .page3{
    color:white;
    text-decoration: none;
    text-align: justify;
}
.button-2:hover, .button-3:hover{
    background-color:#FF6F00;
    color:white;
}
/* .msg {
    background-color:pink;
    line-height: 1.5em;  
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
} */
footer{
    background-color:#FF6F00;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h4 {
    text-align: center;
    color: #264653;
}
.msg h2 {
    color:white;
    font-family: Helvetica, Arial, sans-serif
}
.msg p {
    color:white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: white; 
}
footer .social img {
    padding-top: 15px;
} 
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #50546C;
}
.logo {
    width: 100px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo_link{   
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.card-img {
    border: 10px solid #2A9D8F;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
/* Page 1 - My Life's Purpose*/
.title h2{
    color: #50546C;
    margin-top: 50px;
}
.title h4{
    text-align: justify;
    margin: 50px;
}
.title-img{
    border: 10px solid #264653;
    box-shadow: 5px 5px 10px #6f7364;
    float: left;
    margin: 50px;
    margin-top: 25px; 
}
.body-img{
    border: 10px solid #264653;
    box-shadow: 5px 5px 10px #6f7364;
    float: right;
    margin: 50px;
    width: 500px;
}
.body21 h3, .body22 h3, .body23 h3{
    color: #50546C;
    text-align: left;
    margin: 50px;
}
.body21 h3{
    margin-top: 25px;
}
.body21 p, .body22 p, .body23 p{
    text-align: justify;
    margin: 50px;
    text-indent: 3%;
}
.body21 p{
    margin-bottom: 170px;
}


 /* Contact Us Page */

 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #569095;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
